.container {
    background-color: rgb(176, 176, 176);
    margin: 50px auto;
    position: relative;
    width: 400px;
    height: 500px;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "input input input input"
        "oper oper oper oper"
        "num num num result"
        "num num num result"
        "num num num result"
        "num num num result";
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 5px;
}

input {
    grid-area: input;
    font-size: 30px;
    text-align: right;
}

.oper {
    background-color:rgb(230, 230, 230);
}

.result {
    grid-area: result;
    background-color: rgb(151, 151, 151);
    color: white;
}